body {
    background-image: url("img/bg-pic.jpg"); /*url("https://i.pinimg.com/736x/8a/79/ae/8a79ae60c65c025c65d1e9a70fdacd95.jpg");*/
    background-repeat: repeat;
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #111;
    color: #eee;
}


.navbar {
  width: 100%;
  padding: 15px 30px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #aa0000;
}

.nav-logo{
    width:40px;
    height:auto;
}

.nav-links a {
  margin-left: 20px;
  color: #ddd;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #ff5555;
}


.main {
  display: flex;
  padding: 40px;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1600px;  /* laiem */
  margin: 40px auto;
}


.main-text {
  flex:1;
}

.main-text .pilt1 {
  width: 80px;
  image-rendering: pixelated;
}

.main-text h1 {
  font-size: 2rem;
  color: #ff5555;
}

.main-text p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.main-buttons .btn {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 18px;
  color: white;
  background: #aa0000;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s;
}

.main-buttons .btn:hover {
  background: #cc0000;
}


.main-carousel {
  flex: 1;
  max-width: 600px;   
}

.main-carousel h2 {
  margin-top: 0;
  color: #ff9999;
}


ul.carousel {
  width: 90%;                  
  height: 350px;               
  margin: 0 auto;              
  padding: 20px;
  display: flex;
  gap: 30px;                   
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}


ul.carousel li {
  list-style: none;
  flex: 0 0 350px;             
  background: #222;
  border: 2px solid #444;
  border-radius: 10px;

  scroll-snap-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


ul.carousel li img {
  width: 100%;
  height: 100%;
  object-fit: cover;          
  border-radius: 10px;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
    text-align: center;
  }

  .main-text,
  .main-carousel {
    width: 100%;
  }

  .main-text .pilt1 {
    margin: 0 auto;
  }
}